$block: ".slider";
#{$block} {
	&__wrapper {
		position: relative;
	}
	&__subtitle {
		max-width: em(480);
		margin: 0 auto;
		line-height: 2em;
		text-align: center;
		margin-top: 10em;
	}
	&__title {
		position: absolute;
		bottom: -0.5em;
		line-height: 1;
		left: 0;
		right: 0;
		z-index: 3;
		text-align: center;
	}
	&__content {
		text-align: center;
		height: 100%;
		margin: 0 auto;
		&__item {
				max-width: em(700);
				margin: 0 auto;
			&__image {
				display: block;
				width: 100%;
				position: relative;
				padding-bottom: 100%;
				&:hover {
					#{$block} {
						&__content {
							&__item {
								&__image {
									&__description {
										opacity: 1;
										height: 50%;
									}
								}
							}
						}
					}
				}
				&__description {
					opacity: 0;
					height: 0;
					min-height: em(180);
					transition: all 0.5s;
					background-color: white;
					position: absolute;
					width: 100%;
					bottom: 0;
					left: 0;
				}
				img {
					user-select: none;
					width: auto !important;
					position: absolute;
					display: block;
					max-width: 100%;
					max-height: 100%;
					left: 0;
					right: 0;
					top: 0;
					bottom: 0;
					margin: auto;
				}
			}
		}
	}
	
}