$brand-color: #00b9eb;

$base-color: #000000;
$icon-color: $brand-color;
$highlight-color: $brand-color;
$notification-color: #000000;

$menu-submenu-text: #ffffff;
$menu-submenu-focus-text: $brand-color;
$menu-submenu-background: #1f1f1f;
$menu-highlight-text: #000000;
$menu-highlight-icon: #000000;
$form-checked: #000000;

$button-color: #000;

$link: #000;


@import "../../htdocs/wp-admin/css/colors/_admin.scss";
