$block: ".editor-content";
#{$block},
body#tinymce.wp-editor {
    >p,
    >ul {
        @extend %text-base !optional;
    }
    
    >ul {
        @extend %ul !optional;
    }
    >h1 {
        @extend %h1 !optional;
    }
    >h2 {
        @extend %h2 !optional;
    }
    >h3 {
        font-weight: bold;
        @extend %description !optional;
        letter-spacing: .125em;
    }
    >h4 {
        @extend %h4 !optional;
    }
    >h5 {
        @extend %h5 !optional;
    }
    >h6 {
        @extend %h6 !optional;
    }
    a {
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
    >h1,
    >h2,
    >h3,
    >h4,
    >h5,
    >h6 {
        margin-top: 1em;
        &:first-child {
            margin-top: 0;
        }
    }

    /*&#{$block}--box {
        >p,
        >ul {
            @extend %text-box;
        }
    }
    &#{$block}--mini {
        >p,
        >ul {
            @extend %text-mini;
        }
    }*/
}