$block: ".form";
$form_padding: em(20);

#{$block} {
    position: relative;
    text-align: left;
    max-width: em(650);
    margin: 0 auto;
    &__fields {
        position: relative;
        z-index: 10;
        transition: transform 350ms $ease-in-cubic, opacity 300ms;

        .clearfix {
            @include clearfix;
        }
        &.clearfix {
            @include clearfix;
        }
        
        margin-left: -$form_padding;
        margin-right: -$form_padding;

        &--over {
            z-index: 11;
        }
        
        &__row {
            // width: 50%;
            float: left;
            margin-bottom: 1em;
            padding-left: $form_padding;
            padding-right: $form_padding;
            position: relative;
            @include clearfix;

            &--full {
                width: 100%;
            }
            &--honey {
                position: absolute;
                top: -9999px;
                left: -9999px;
            }

            &__label {
                margin-bottom: em(4);
                display: block;

                &--hidden {
                    visibility: hidden;
                }
            }
            @include mq($until: 400px) {
                width: 100%;
            }
        }
    }
    &__success {
        position: absolute;
        width: 100%;
        z-index: 5;
        top: 0;
        left: 0;
        opacity: 0;
        transform: translateY(-2em);
        text-align: center;
        $delay: 350ms;
        transition: transform 300ms $delay $ease-out-cubic, opacity 180ms $delay;
    }

}

#{$block}--in-progress {
    pointer-events: none;
    #{$block} {
        &__fields {
            opacity: .6;
        }
    }
}

#{$block}--sent {
    #{$block}__form {
        transform: translateY(-2em);
        opacity: 0;
    }
    #{$block} {
        &__success {
            z-index: 20;
            opacity: 1;
            transform: translateY(0);
        }
    }
}

.parsley-errors-list {
    color: $color-error;
}
form {

    input {
        background-color: #fff;
        border: 2px solid $brand-primary;
        border-radius: 0;
        width: 100%;
        padding: em(15) em(15) !important;
        line-height: 1.5em;
    }
    textarea {
        min-height: em(250);
        border: 2px solid $brand-primary;
        width: 100%;
        padding: em(15) !important;
    }
}



