$block: ".google-maps";
#{$block} {
    position: relative;
    &__map {
        height: em(1000);
        max-height: 90vh;
    }
    @include mq($until: screen-sm) {
        &__map {
            max-height: 45vh;
        }
    }

}

.gm-style {
    img {
        max-width: none !important;
    }
}
