$block: '.image-loader';
#{$block} {
    position: relative;
    width: 100%;
    background: #f0f0f0;
    max-width: 100%;
    overflow: hidden;
    &--no-bg {
        background: transparent;
    }
    > img {
        width: 100%;
        height: auto;
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        left: 0;
        transition: opacity .8s .2s;
        &.lazy-hidden {
            opacity: 0;
        }
        &.lazy-loaded {
            opacity: 1;
        }
        html.no-csstransforms & {
            transform: none;
            top: 0;
        }
    }
}
