.main {
    position: relative;
    z-index: 3;
    body.home & {
        padding-top: 0;
    }

    body.sidebar-open & {
        overflow: hidden;
    }

    body.site-fixed & {
        position: fixed;
        width: 100%;
        &::after {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            content: ' ';
        }
    }
    
}
