$block: '.menu-burger';
$padding: 16px;
#{$block} {
    font-size: 14px;
    padding: em($padding);
    width: em(30px + 2 * $padding);
    margin: 0 0 0 auto;
    transition: all .3s ease;
    cursor: pointer;
    &--main {
        transform: translateX(em($padding));
    }
    
    &__bar {
        position: relative;
        top: 0;
        height: 2px;
        margin-bottom: em(6);
        background-color: $color-black;
        transition: top 250ms 250ms, transform 150ms, opacity 200ms;
        &:last-child {
            margin-bottom: 0;
        }
    }
    body.sidebar-open & {
        #{$block}__bar {
            transition: top 250ms, transform 250ms 200ms, opacity 200ms;
            &:first-child {
                top: 7px;
                transform: rotate(45deg);
            }
            &:nth-child(2) {
                opacity: 0;
            }
            &:last-child {
                top: -7px;
                transform: rotate(-45deg);
            }
        }
    }
}
