$block: '.nav';

#{$block} {
    a {
        display: block;
        transition: color .2s;
        &:hover {}
    }
    &__list {
        &--level-1 {
            @include clearfix;
            position: relative;
            >li {
                float: left;
                &.active {
                    >a {
                        &:hover {}
                    }
                }
                >a {}
                &:hover {
                    > ul {
                        display: block;
                    }
                }
            }
        }
        &--level-2 {
            display: none;
        }
    }

}