$block: ".owl-carousel";
#{$block} {
    .owl-item {
        opacity: 0;
        transition: opacity .4s;
        &.active {
            opacity: 1;
        }
    }
    .owl-nav {
        .owl-prev,
        .owl-next {
            i {
                color: #cececc;
                font-size: rem(55);
                display: block;
                line-height: 1;
                height: 1em;
                display: inline-block;
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
                transition: all 0.3s;
            }
        }
        .owl-prev {
            i {
                left: rem(5);
            }
            &:hover {
                i {
                    left: 0;
                }
            }
        }
        .owl-next {
            i {
                right: rem(5);
            }
            &:hover {
                i {
                    right: 0;
                }
            }
        }

    }
    .owl-dots {
        position: absolute;
        bottom: -6.5em;
        left: 0;
        right: 0;
        margin: 0 auto;
        .owl-dot {
            display: inline-block;
            padding: em(15) 0;
            &:after {
                display: block;
                content: '';
                width: em(40);
                height: em(2);
                margin-left: em(5);
                margin-right: em(5);
                background-color: #cececc;
            }
            &.active {
                &:after {
                    height: em(4);
                    background-color: $color-black;
                }
            }
        }
    }
    @include mq($until: screen-sm) {
        .owl-nav {
            display: none;
        }
    }
    @include mq($until: screen-xs) {
        .owl-dots {
            margin-top: em(45);
        }
    }
}