$block: '.section';
#{$block} {
    position: relative;
    &--fullwidth {
        #{$block}__content {
            max-width: none;
            padding-left: 0;
            padding-right: 0;
        }
    }
    &--fullheight {
        @include mq($from: width-fullheight) {
            height: 100vh;
        }
    }
    &--padding {
        padding: rem(75) 0; 
    }
    &--margin {
        margin: rem(75) 0;
    }
    &--margin-top {
        margin-top: rem(75);
    }
    &__content {
        margin: 0 auto;
        padding-left: $side-padding;
        padding-right: $side-padding;
        box-sizing: content-box;
        max-width: em($width-max-container);
        @include clearfix;
    }
}