$block: '.sidebar';
$sidebar-bg: $color-white;
$sidebar-fg: $color-text;
#{$block} {
    position: fixed;
    width: 100%;
    min-height: 100vh;
    margin-left: 100%;
    z-index: 3;
    top: 0;
    background: $brand-primary;
    transition: all 300ms $ease-out-cubic;


    &,
    &__content {
        background: $sidebar-bg;
        color: $sidebar-fg;
    }
    &__content {
        opacity: 0;
        transition: opacity .3s .6s;
        margin: 0 auto;
        padding: 0 $side-padding;
        box-sizing: content-box;
        @include clearfix;
        body.sidebar-open & {
            opacity: 1;
            transition: opacity .3s 0s;
        }
    }
    &__lang-switch {

    }
    &__page-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1000;
        background: $brand-primary;
        top: 0;
        left: 0;
        visibility: hidden;
        opacity: 0;
        transition: (opacity .3s .1s, visibility 0s .4s);
        body.sidebar-open & {
            @include mq($until: width-mobile-menu) {
                visibility: visible;
                opacity: 1;
                transition: (opacity .3s, visibility 0s);
            }
        }
    }
    body.sidebar-open & {
        position: relative;
        transform: translateX(-100%);
        height: auto;
        width: 90%;
        box-shadow: -50px 0px 40px -50px rgba(0, 0, 0, 0.5);
        @include mq($from: screen-xs) {
            width: 60%;
        }
        @include mq($from: screen-sm) {
            width: 50%;
        }
        @include mq($from: screen-md) {
            width: 40%;
        }
        @include mq($from: screen-lg) {
            width: 35%;
        }
        @include mq($from: screen-xl) {
            width: 28%;
        }
        #{$block}__closer {
            opacity: 0.5;
            visibility: visible;
            transition: opacity .3s 0s, visibility 0s 0s;
        }
        #{$block}__content {
            opacity: 1;
            transition: opacity 0.3s 0s;
        }
    }
    @include mq($from: width-mobile-menu) {
        display: none;
    }
}
