$block: ".site-navigation";

#{$block} {

    @include mq($from: width-mobile-menu) {
        &__mobile {
            display: none;
        }
    }
    @include mq($until: width-mobile-menu) {
        &__desktop {
            display: none;
        }
    }
}