$block: '.site';
#{$block} {
    position: relative;
    transition: transform 300ms $ease-in-cubic;
    z-index: 1;
    background: $color-white;
    -webkit-backface-visibility: hidden;  /* Chrome, Safari, Opera */
    backface-visibility: hidden;
    overflow: hidden;
}
