$block: '.site-header';
#{$block} {
    z-index: 10;
    background: $color-white;
    width: 100%;
    &__inner {
        position: relative;
        @include clearfix;
    }
    &__item {
        text-align: center;
        &--left {
            float: left;
        }
        &--right {
            float: right;
        }
    }

    &__lang-switch {
        position: absolute;
        right: 0;
        top: em(10);
        display: none;
        @include mq($from: width-mobile-menu) {
            display: block;
        }
    }
}