$block: '.website-alert';
#{$block} {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $color-white;
    background: rgba($color-white, .95);
    z-index: 1000000;
    font-size: 1.4em;
    .section__content {
        height: 100%;
    }
    .logo {
        margin-bottom: em(50);
        img {
            width: auto;
            height: auto;
            max-width: 100%;
        }
        .logo-box {
            display: inline-block;
            font-size: 1.3em;
        }
    }
    .h3 {
        font-size: 1.5em;
        margin-bottom: .8em;
    }
    .table,
    .table__td {
        width: 100%;
        height: 100%;
        text-align: center;
    }
    &--browser {
        display: none;
        html.show-incompatible_browser-alert & {
            overflow: hidden;
            display: block;
        }
        #{$block}__image {
            width: em(70);
            height: auto;
            display: block;
            margin: 0 auto em(20);
        }
        table {
            margin: em(20) auto 0;
            border-collapse: separate;
            border-spacing: em(40) em(10);
        }
    }
    &--no_script {
        background: $color-white;
        color: $color-black;
    }
    table {
        td {
            border: 0;
        }
    }
}

html.show-incompatible_browser-alert {
    overflow: hidden;
}

html.no-js {
    // overflow: hidden;
}
