$block: '.website-alert-headerline';
// COLORS
$cookie-fg: $color-white;
$cookie-bg: $color-black;
$cookie-btn-bg: $color-white;
$cookie-btn-fg: $color-black;
$cookie-size: 16px;
$cookie-opacity: .9;
$cookie-responsive: em(735);
$cookie-height: em(35);
#{$block} {
    padding: em(8) em(15);
    font-size: $cookie-size;
    line-height: 1.5em;
    margin: 0 auto;
    text-align: center;
    color: $cookie-fg;
    &__container {
        visibility: hidden;
        position: fixed;
        z-index: 10000;
        width: 100%;
        bottom: -3em;
        background-color: $cookie-bg;
        transition: visibility 0s .3s, bottom .3s;
    }
    &,
    * {
        box-sizing: border-box;
    }
    &__btn {
        padding: em(4) em(15);
        display: inline-block;
        transition: background .3s ease, color .3s ease;
        background-color: $cookie-btn-bg;
        color: $cookie-btn-fg;
        margin: 0 em(20);
        cursor: pointer;
        border: 0;
        appearance: none;
        font-size: 1em;
        line-height: 1em;
        &:hover {
            background-color: $cookie-fg;
            color: $cookie-bg;
        }
    }
    @media only screen and (max-width: $cookie-responsive) {
        &__btn {
            display: block;
            margin-top: em(10);
            margin-left: auto;
            margin-right: auto;
        }
    }
    &__text {
        @extend %text-base !optional;
    }
}

html {
    &.show-cookie-alert,
    &.show-outdated_browser-alert {
        #{$block} {
            &__container {
                visibility: visible;
                bottom: 0;
                transition: visibility 0s, bottom .3s;
            }
        }
    }
}
