html,
body {
    height: 100%;
}


body {
    font-family: $font-normal;
    color: $color-text;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

strong,
.strong,
b {
    font-weight: bold;
}

.responsive {
    max-width: 100%;
    width: auto;
    height: auto;
}


::selection {
    background: $color-black;
    color: $color-white;
}
