a {
    &,
    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
        color: inherit;
    }
}

.form-control:focus {
    border-color: inherit;
}

a,
.form-control,
.btn,
input,
textarea,
select {
    box-shadow: none !important;
    outline: 0 !important;
    padding: 0;
    margin: 0;
    &:focus {
        //color: inherit;
    }
}

button {
    border: 0;
}

textarea,
input,
button {
    &:focus {
        outline: none;
    }
}

input,
button,
textarea {
    border-radius: 0;
    -webkit-appearance: none;
    border: none;
}

input[type=submit],
button {
    background: none;
    border: 0;
    cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

textarea {
    resize: none;
    overflow: hidden;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        margin: 0;
        padding: 0;
    }
}

label {
    font-weight: normal;
    margin: 0;
}

i,
cite,
em,
var,
address,
dfn {
    font-style: normal;
}

address {
    margin: 0;
}

// HEADLINES
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1em;
    font-weight: normal;
}
