html {
    font-size: $font-size-base * .4;

    @include mq($from: screen-sm) {
        font-size: $font-size-base * .6;
    }
    @include mq($from: screen-md) {
        font-size: $font-size-base * .8;
    }
    @include mq($from: screen-lg) {
        font-size: $font-size-base;
    }
}

body {

    font-size: $font-size-base * .875;

    @include mq($from: screen-md) {
        font-size: $font-size-base * 0.9375;
    }
    @include mq($from: screen-lg) {
        font-size: $font-size-base;
    }
}