%text-base {
	font-family: $font-normal;
	font-style: normal;
	font-weight: 300;
	font-size: em(15);
	letter-spacing: em(2);
}

%h1 {
	@extend %text-base;
	text-transform: uppercase;
	font-weight: 600;
	font-size: em(60);
	letter-spacing: em(2);
	@include mq($until: 515px) {
		font-size: em(45);
	}
	@include mq($until: screen-xs) {
		font-size: em(35);
	}
	
}

%h2 {
	@extend %text-base;
	text-transform: uppercase;
	font-size: em(18, 16);
	letter-spacing: em(10);
}

%description {
	@extend %h2;
	font-size: em(16);
	letter-spacing: em(10)
}

%h3 {
	@extend %description;
}

%ul {
	@extend %text-base;
}