$color-black: #000000;
$color-white: #ffffff;

$color-text: #000000;
$color-error: red;

/* ======== Bootstrap ======== */
//$line-height-base:  1.6;
$font-normal: 'acumin-pro-condensed', sans-serif;
$font-size-base: 16px;
//$brand-primary: #fff;

$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-xl: 1500px;
$screen-xxl: 1900px;
$screen-xxxl: 2400px;

$grid-gutter-width: 30px;

$width-max-container: 1300px;
$side-padding: 5%;

$width-fullheight: $screen-sm + 1px;
$width-mobile-menu: $screen-md;
$height-header: 6em;
$height-header-mobile: $height-header * .7;


/* ======== SASS mq ======== */
$mq-base-font-size: $font-size-base;
$mq-breakpoints: (
    screen-xs: $screen-xs,
    screen-sm: $screen-sm,
    screen-md: $screen-md,
    screen-lg: $screen-lg,
    screen-xl: $screen-xl,
    screen-xxl: $screen-xxl,
    screen-xxxl: $screen-xxxl,
    width-mobile-menu: $width-mobile-menu,
    width-fullheight: $width-fullheight,
);

/* ======== SCUT ======== */
$scut-rem-base: $font-size-base / 1px; // strip units



/* ======== Easing Functions ======== */

// Cubic
$ease-in-cubic: cubic-bezier(0.550, .055, .675, .190);
$ease-out-cubic: cubic-bezier(0.215, .610, .355, 1.000);
$ease-in-out-cubic: cubic-bezier(0.645, .045, .355, 1.000);
// Circ
$ease-in-circ: cubic-bezier(0.600, .040, .980, .335);
$ease-out-circ: cubic-bezier(0.075, .820, .165, 1.000);
$ease-in-out-circ: cubic-bezier(0.785, .135, .150, .860);
// Expo
$ease-in-expo: cubic-bezier(0.950, .050, .795, .035);
$ease-out-expo: cubic-bezier(0.190, 1.000, .220, 1.000);
$ease-in-out-expo: cubic-bezier(1.000, .000, .000, 1.000);
// Quad
$ease-in-quad: cubic-bezier(0.550, .085, .680, .530);
$ease-out-quad: cubic-bezier(0.250, .460, .450, .940);
$ease-in-out-quad: cubic-bezier(0.455, .030, .515, .955);
// Quart
$ease-in-quart: cubic-bezier(0.895, .030, .685, .220);
$ease-out-quart: cubic-bezier(0.165, .840, .440, 1.000);
$ease-in-out-quart: cubic-bezier(0.770, .000, .175, 1.000);
// Quint
$ease-in-quint: cubic-bezier(0.755, .050, .855, .060);
$ease-out-quint: cubic-bezier(0.230, 1.000, .320, 1.000);
$ease-in-out-quint: cubic-bezier(0.860, .000, .070, 1.000);
// Sine
$ease-in-sine: cubic-bezier(0.470, .000, .745, .715);
$ease-out-sine: cubic-bezier(0.390, .575, .565, 1.000);
$ease-in-out-sine: cubic-bezier(0.445, .050, .550, .950);
// Back
$ease-in-back: cubic-bezier(0.600, -.280, .735, .045);
$ease-out-back: cubic-bezier(0.175, .885, .320, 1.275);
$ease-in-out-back: cubic-bezier(0.680, -.550, .265, 1.550);